<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Graph</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Graph</h1>

    <div class="options">
        <select id="duration">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
        </select>
    </div>

    <div class="chart-container">
        <canvas id="chart"></canvas>
    </div>
</body>
</html>


{% extends 'base.html' %}

{% block content %}
<h1>Page d'accueil</h1>
<!-- Contenu spécifique à la page d'accueil -->
{% endblock %}